*{
    margin: 0;
    padding: 0;
}
body{
 background: linear-gradient(to right, hsl(214, 100%, 90%) 0%, hsl(214, 100%, 98%) 20%, hsl(214, 100%, 98%) 50%, hsl(214, 100%, 98%) 80%, hsl(214, 100%, 90%) 100%);

}
.top{
    /* border: 1px solid; */
    height: 200px;
    width: 90%;
    margin: auto;
    background-image: url(https://www.mathsisfun.com/images/hdr/hdr-main-lite.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    background: linear-gradient(to right, hsl(214, 100%, 90%) 0%, hsl(214, 100%, 98%) 20%, hsl(214, 100%, 98%) 50%, hsl(214, 100%, 98%) 80%, hsl(214, 100%, 90%) 100%);
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 75px 75px 75px 75px 75px;
    grid-gap: 15px;
    height: 500px;
    width: 857px;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid hsl(214, 100%, 84%);
    position: absolute;
    left: 350px;
    top: 199px;
    align-content: center;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 18px;
}
.items{
    background: linear-gradient(to bottom, #feffff 0%, #d6dbff 100%);
    color: black;
    border-radius: 10px;
    text-align: end;
    padding: 4px 10px 10px 0px;
    box-shadow: 2px 2px 2px #ccf;
    text-shadow: 1px 1px 0px #fff;
    cursor: pointer;
}
.img1{
    display: flex;
    height: 50px;
    margin: 0 0 0 10px;
}

.items13{
    background: linear-gradient(to bottom, #feffff 0%, #d6dbff 100%);
    color: black;
    position: relative;
    left: 130px;
    border-radius: 10px;
    text-align: end;
    padding: 4px 10px 10px 0px;
    box-shadow: 2px 2px 2px #ccf;
    text-shadow: 1px 1px 0px #fff;
    cursor: pointer;
}